@model IEnumerable<cis237assignment6.Beverage>

@{
    ViewBag.Title = "Beverage List";
}


<h2>Beverage List</h2>

<div class="form-group">
    <fieldset>
        <legend>Search Filter</legend>       
        @{
            using (Html.BeginForm("Filter", "Beverages", FormMethod.Post, new { @class = "form-inline" }))
            {
                @Html.AntiForgeryToken()

                <label for="name">Name</label>
                @Html.TextBox("name", (string)ViewBag.bevName)

                <label for="pack">Pack</label>
                @Html.TextBox("pack", (string)ViewBag.bevPack)

                <label for="min">Minimum Price</label>
                @Html.TextBox("min", (string)ViewBag.bevMinPrice)

                <label for="max">Maximum Price</label>
                @Html.TextBox("max", (string)ViewBag.bevMaxPrice)

                <br />
                <input type="submit" value="Filter" class="btn btn-info pull-right" />
            }
        }
    </fieldset>
</div>
<br />
<br />


<p>    
    <a href="http://localhost:52352/Beverages/Create" class="btn btn-primary btn-danger" >Create New &raquo;</a> 
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pack)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.active)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pack)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.active)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
